.backgro{
   background-color: #D8D9CF;
   
 }
  
 .card{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #FFF5E4;
 }
 .nav{
    background-color: #EDEDED;
    height: 3rem;
 }