.backgro{
    background-color: #FFCBCB;
    
  }
   
  .card{
     margin-right: 30px;
     margin-bottom: 10px;
     margin-top: 10px;
     background-color: #FFF2F2;
  }
  .nav{
     background-color: #FFEDED;
     height: 3rem;
  }