.backgro{
    background-color: #303030;
  }
   
.card{
   margin-right: 30px;
   margin-bottom: 10px;
   margin-top: 10px;
   background-color: #FFF2F2;
}

.nav{
   background-color: #8458b3;
   height: 3rem;
}

.nav-text{
   color: #eaeaea;
}

#navUl{
   padding: 5px;
   justify-content: center;
}

#profileAvatar{
   align-content: center;
}

.tableContent{
   width: 800px;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   padding: 3px;
   border-radius: 20px;
   align-self: center;
}

.tableRow{
   align-self: center;
   margin: 3px;
   background-color: white;
   display: flex;
   flex-direction: row;
   height: 40px;
   border-radius: 20px;
}

#tableHeader{
   background-color: #C51383;
   color: white;
}

.cells{
   display: flex;
   width: 50%;
   justify-content: center;
   align-items: center;
   padding: 5px
}

